<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="/css/style.css"> -->
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Raleway';
            text-decoration: none;
        }

        .grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            margin-top: 50px;
        }

        .grid__item {
            height: 300px;
            margin: auto;
            padding: 3px;
        }

        .grid__item img {
            width: 100%;
            height: 100%;
            border-radius: 3px;
        }

        .navbar {
            background-color: #fff !important;
        }

        /* Decorating the profile card */
        .profile {
            min-width: 150px;
            display: flex;
            flex-direction: column;
            justify-content: center;

        }

        .profile__image img {
            width: 150px;
            height: 150px;
            display: block;
            object-fit: cover;
            box-shadow: 0 0 10px rgba(150, 115, 115, 0.5);
            border-radius: 50%;
            margin: 0px auto 20px auto;
        }

        .profile__username {
            text-align: center;
            padding: 5px;
        }

        .profile__btn {
            border-top: 1px solid #b1b1b1;
            margin-top: 5px;
            padding: 10px;
            display: flex;
            justify-content: space-between;
        }

        .profile__btn a {
            color: rgb(0, 140, 255);
            text-decoration: none;
        }


        @media(max-width:780px) {
            .grid {
                grid-template-columns: repeat(2, 1fr);
            }
        }

        @media(max-width:500px) {
            .grid {
                grid-template-columns: repeat(1, 1fr);
            }
        }

        .no-item-found {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            border-bottom: #37a08e 1px solid;
        }

        .no-item-found>img {
            margin: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
    </style>
</head>

<body>

    <%- include ('partials/homenav.ejs') %>
    <div class="container">
        <div class="form-wrap">
            <form action="/user/friend" method="get">
                <div class="form-group ad-30" style="margin-top:8px;">
                    <div class="input-group search-style">
                        <input class="form-control new-search-bar" name="name" id="search" placeholder="Search People"
                            type="text" autocomplete="off">
                    </div>
                </div>
            </form>
        </div>

        <% if( users.length > 0 ) { %>
        <div class="grid">
            <% for (let people of users) { %>
            <div class="grid__item">
                <div class="profile">
                    <div class="profile__image">
                        <img src="/images/people/<%= people.following %>" alt="" srcset="">
                    </div>
                    <div class="profile__username">
                        <%= people.following %>
                    </div>
                    <div class="profile__btn">
                        <a href="/user/chat/<%= user.username %>-<%= people.following %>">Message</a>
                        <a href="/user/profile/<%= people.following %>">Profile</a>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
        <% } else { %>
        <div class="no-item-found">
            <img src="/images/gif/noitem.gif" alt="">
            <h5>No item found!</h5>
        </div>
        <% } %>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/bundle.js"></script>
</body>

</html>