<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Meta data -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- Title  -->
    <title><%= title %></title>

    <!-- Bootstrap dependencie -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Links for css and favicon -->
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/chat.css">
</head>

<body>

    <!-- main container will cover whole screen -->
    <div id="groupChat" class="main-container">

        <!-- This container will contain navbar -->
        <div class="container">
            <%- include ('partials/homenav.ejs') %>
        </div>

        <!-- chat grid will divide the screen into grids -->
        <div class="chat-grid">

            <!-- Sidebar area for online users -->
            <input type="checkbox" id="sidebar-view">
            <div class="sidebar-area">
                <label id="sidebarview-label" for="sidebar-view"> <i class="fas fa-chevron-right"></i> </label>
                <div class="sidebar-header">
                    <img src="/images/crew/crewdp/<%= crew.image %>" alt="">
                    <h6 class="group-name"><%= crew.name %></h6>
                    <h5 class="usercount">0</h5>
                </div>
                <div class="online-users">
                    <!-- <div class="online-user">
                        <img src="./one piece.jpg" alt="">
                        <div class="online-username">
                            Jackthemaa singh bisht
                        </div>
                    </div> -->
                </div>
            </div>

            <!-- Text area for messages -->
            <div class="text-area">
                <!-- loading old messages -->
                <% for ( let message of old_message ) { %>
                <% if ( message.sender[0].username !== user.username ) { %>
                <div class="message other-message">
                    <%} else {%>
                    <div class="message own-message">
                        <% } %>
                        <img class="message-image" src="/images/people/<%= message.sender[0].image %>" alt="">
                        <div class="message-text">
                            <!-- Checking if it is attack messsage -->
                            <% if ( message.body === "<{*attack*}>" ) { %>
                            <img style="max-width:100%" src="/images/gif/attack.gif" alt="">
                            <!-- Checking for defence message -->
                            <% } else if ( message.body === "<{*defence*}>" ) { %>
                            <img style="max-width:100%" src="/images/gif/defence.gif" alt="">
                            <!-- Checking for normal message -->
                            <% } else { %>
                            <%= message.body %>
                            <% } %>
                        </div>
                        <div class="message-time">
                            <%= `${message.createdAt.toDateString()} / ${message.createdAt.getHours()}: ${message.createdAt.getMinutes()}` %>
                        </div>
                    </div>
                    <% } %>
                </div>

                <!-- Will think about this thing later -->
                <div class="temp-area"></div>
                <!-- Send area to send message -->
                <div class="send-area">
                    <button class="attack"><i class="fas fa-bomb"></i></button>
                    <button class="defence"><i class="fas fa-shield-alt"></i></i></button>
                    <form class="group-message-form">
                        <!-- <input name="message" placeholder="Message" required autocomplete="off"> -->
                        <input name="message" type="text" placeholder="Type your heart out." required
                            autocomplete="off">
                    </form>
                </div>
            </div>
        </div>

        <!-- This is a small script to set grid height -->
        <script>
            const $chatGrid = document.querySelector('.chat-grid');
            const $navBar = document.querySelector('.container > .navbar');
            const navHeight = getComputedStyle($navBar).height;
            $chatGrid.setAttribute('style', `height: calc(100vh - ${navHeight})`);
        </script>

        <!-- These script are bootstrap dependencies -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>

        <!-- user js -->
        <script src="/js/bundle.js"></script>
</body>

</html>