<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Meta data -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- Title  -->
    <title><%= title %></title>

    <!-- Bootstrap dependencies-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Links for css and favicon -->
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/home.css">

    <style>
        .law-sidegif {
            position: fixed;
            right: 0px;
            bottom: 0px;
            z-index: -1;
        }

        .sanji-sidegif {
            position: fixed;
            bottom: 0px;
            transform: scaleX(-1);
            left: 0px;
            z-index: -1;
        }

        .aot-sidegif {
            position: fixed;
            top: 0px;
            left: 0px;
        }
    </style>
</head>

<body>

    <!-- this is for gifs -->
    <div class="law-sidegif">
        <img src="https://i.pinimg.com/originals/72/12/af/7212af931d5960155ccbd240a6dcb2c8.gif" alt="">
    </div>
    <div class="sanji-sidegif">
        <img width="450px" height="530px"
            src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/fa826175-9aa5-497f-84f4-f36befd6194d/d9bwyes-69e45003-520c-4ad4-a289-ea399dce49d4.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2ZhODI2MTc1LTlhYTUtNDk3Zi04NGY0LWYzNmJlZmQ2MTk0ZFwvZDlid3llcy02OWU0NTAwMy01MjBjLTRhZDQtYTI4OS1lYTM5OWRjZTQ5ZDQuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.esj6tN93CdZUyeNnIhHpzt7ScshLlsvDdCxjttgLn6Q"
            alt="">
    </div>
    <div class="aot-sidegif">
        <img src="https://media3.giphy.com/media/3ohc0YpD0LR5wRyz1S/giphy.gif" alt="">
    </div>
    <!-- This container will contain navbar -->
    <div class="container">
        <%- include ('partials/homenav.ejs') %>
    </div>

    <!-- This container will contain search bar and will crew  -->
    <div class="container">
        <div class="form-wrap">

            <form method="GET" action="/crew" id="home-search">
                <div class="form-group ad-30" style="margin-top:8px;">
                    <div class="input-group search-style">
                        <input class="form-control new-search-bar" name="name" id="searchCrew" placeholder="Search Crew"
                            type="text" autocomplete="off">
                    </div>
                </div>
            </form>
        </div>
        <!-- This grid will show crew -->
        <% if( crews.length > 0 ) { %>
        <div class="grid">
            <% for (let crew of crews) { %>
            <div class="globalAnimation grid__item">

                <div class="grid__item-image">
                    <img src="/images/crew/crewdp/<%= crew.image %>" alt="" width="100%">
                </div>
                <div class="globalAnimation__text">
                    <a class="crew-enter" href="/crew/chat/<%= crew.name %>">
                        <img width="70px" height="70px" class="logoAnimation" src="/images/crew/pngs/enter.png" alt="">
                    </a>
                    <h5 class="crew-heading"><%= crew.name %></h5>
                </div>
            </div>
            <% } %>
        </div>
        <!-- if not item found -->
        <% } else { %>
        <div class="no-item-found">
            <img src="/images/gif/noitem.gif" alt="">
            <h5>No item found!</h5>
        </div>
        <% } %>
    </div>

    <!-- These script are bootstrap dependencies -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    <!-- Socket.io -->
    <script src="/socket.io/socket.io.js"></script>

    <!-- user js -->
    <script src="/js/bundle.js"></script>
</body>

</html>