<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Meta data -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- Title  -->
    <title><%= title %></title>

    <!-- Bootstrap dependencie -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Links for css and favicon -->
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/people-friend.css">

</head>

<body>

    <!-- This container will contain navbar -->
    <div class="container">
        <%- include ('partials/homenav.ejs') %>
    </div>

    <!-- This container will contain search bar and following user grid -->
    <div class="container">

        <!-- Bootstrap search bar -->
        <div class="form-wrap">

            <form action="/user/users" method="GET">
                <div class="form-group ad-30" style="margin-top:8px;">
                    <div class="input-group search-style">
                        <input class="form-control new-search-bar" name="name" id="search" placeholder="Search People"
                            type="text">
                    </div>
                </div>
            </form>
        </div>

        <!-- This grid will contain all the users who are not your friend -->
        <% if( users.length > 0 ) { %>
        <div class="grid">
            <!-- Grid item will contain user card -->
            <% for (let people of users) { %>
            <div class="grid__item">
                <div class="profile">
                    <div class="profile__image">
                        <img src="/images/people/<%= people.image %>" alt="" srcset="">
                    </div>
                    <div class="profile__username">
                        <%= people.username %>
                    </div>
                    <div class="profile__btn">
                        <a id="<%= people.username %>" class="follow-btn" href="">Follow</a>
                        <a href="/user/profile/<%= people.username %>">Profile</a>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
        <!-- if not item found -->
        <% } else { %>
        <div class="no-item-found">
            <img src="/images/gif/noitem.gif" alt="">
            <h5>No item found!</h5>
        </div>
        <% } %>
    </div>

    <!-- These script are bootstrap dependencies -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    <!-- user js -->
    <script src="/js/bundle.js"></script>
</body>

</html>