<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/chat.css">
</head>

<body>


    <div class="main-container">
        <div class="container">
            <%- include ('partials/homenav.ejs') %>
        </div>

        <div class="chat-grid">

            <!-- Sidebar area for online users -->
            <input type="checkbox" id="sidebar-view">
            <div class="privatesidebar-area">
                <label id="sidebarview-label" for="sidebar-view"> <i class="fas fa-chevron-right"></i> </label>
                <div class="sidebar-header">
                    <h6 class="username"><%= friend.username %></h6>
                    <h6 class="online-status">offline</h6>
                    <img src="/images/people/<%= friend.image %>" alt="">
                    <h4 class="fullname"><%= friend.fullname %></h4>
                    <p class="status"><%= friend.status %></p>
                </div>
            </div>


            <div class="text-area">
                <% for ( let message of old_message ) { %>
                <% if ( message.sender !== user.username ) { %>
                <div class="message other-message">
                    <img class="message-image" src="/images/people/<%= friend.image %>" alt="">
                    <%} else {%>
                    <div class="message own-message">
                        <img class="message-image" src="/images/people/<%= user.image %>" alt="">
                        <% } %>
                        <div class="message-text">
                            <%= message.body %>
                        </div>
                        <div class="message-time">
                            <%= `${message.createdAt.toDateString()} / ${message.createdAt.getHours()}: ${message.createdAt.getMinutes()}` %>
                        </div>
                    </div>
                    <% } %>
                </div>
                <!-- Will think about this thing later -->
                <div class="temp-area">

                </div>

                <!-- Send area to send message -->
                <div class="send-area">
                    <button><i class="fas fa-map-marker-alt"></i></button>
                    <form class="group-message-form">
                        <input id="private-typingbox" name="message" type="text" placeholder="Type your heart out."
                            autocomplete="off">
                    </form>
                </div>
            </div>
        </div>


        <script>
            const $chatGrid = document.querySelector('.chat-grid');
            const $navBar = document.querySelector('.container > .navbar');
            const navHeight = getComputedStyle($navBar).height;
            $chatGrid.setAttribute('style', `height: calc(100vh - ${navHeight})`);
        </script>

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
        <!-- This is font-awesome cdn -->
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/bundle.js"></script>
        <script src="/js/privatechat.js"></script>
</body>

</html>