<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta data -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- Title  -->
    <title><%= title %></title>

    <!-- Bootstrap dependencie -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Links for css and favicon -->
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/people-friend.css">
    <link rel="stylesheet" href="/css/profile.css">
</head>

<body>

    <!-- This container will contain navbar -->
    <div class="container">
        <%- include ('partials/homenav.ejs') %>
    </div>

    <!-- This display container is the outer most container for display -->
    <div class="display-container">

        <div class="display">
            <% if ( profile.username !== user.username ) { %>
            <div class="display__image globalAnimation">
                <% } else { %>
                <div class="display__image">
                    <% } %>
                    <div class="display__image-wrap">
                        <img src="/images/people/<%= profile.image %>" alt="">
                    </div>
                    <% if ( profile.username !== user.username ) { %>
                    <div class="display__image-text globalAnimation__text">
                        <a href="/user/chat/<%= user.username %>-<%= profile.username %>">Message</a>
                    </div>
                    <% } %>
                </div>
                <div class="display__username">
                    <%= profile.username %>
                </div>
                <div class="display__fullname">
                    <%= profile.fullname %>
                </div>
                <div class="display__status">
                    <%= profile.status %>
                </div>
                <div class="display__btn">
                    <div>
                        <h6><%= follower.length %></h6>
                        <label style="cursor: pointer;" class="emphasis" for="follower">
                            follower
                        </label>
                    </div>
                    <div>
                        <h6><%= following.length %></h6>
                        <label style="cursor: pointer;" class="emphasis" for="following">
                            following
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <!-- This container will contain follower and following data -->
        <div class="container">
            <input style="display: none;" type="radio" id="follower" name="info">
            <!-- follower grid for user follower -->
            <div class="follower-grid grid">

                <% for (let people of follower) { %>
                <div class="grid__item">
                    <div class="profile">
                        <div class="profile__image">
                            <img src="/images/people/<%= people.follower.image %>" alt="" srcset="">
                        </div>
                        <div class="profile__username">
                            <%= people.follower.username %>
                        </div>
                        <div class="profile__btn">
                            <% if ( user.username != people.follower.username ) { %>
                            <a href="/user/chat/<%= user.username %>-<%= people.follower.username %>">Message</a>
                            <% } %>
                            <a href="/user/profile/<%= people.follower.username %>">Profile</a>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>

            <input style="display: none;" type="radio" id="following" name="info">

            <!-- following grid for following -->
            <div class="following-grid grid">

                <% for (let people of following) { %>
                <div class="grid__item">
                    <div class="profile">
                        <div class="profile__image">
                            <img src="/images/people/<%= people.following.image %>" alt="" srcset="">
                        </div>
                        <div class="profile__username">
                            <%= people.following.username %>
                        </div>
                        <div class="profile__btn">
                            <% if ( user.username != people.following.username ) { %>
                            <a href="/user/chat/<%= user.username %>-<%= people.following.username %>">Message</a>
                            <% } %>
                            <a href="/user/profile/<%= people.following.username %>">Profile</a>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>
        </div>

        <!-- These script are bootstrap dependencies -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>

        <!-- user js -->
        <script src="/js/bundle.js"></script>
</body>

</html>