<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title> <%=title%> </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css">

    <style>
        @import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            text-decoration: none;
            font-family: 'Raleway';
        }


        .navbar {
            background-color: #fff !important;
        }

        .setting-container {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .setting-form {
            max-width: 100%;
            padding: 40px;
            border-radius: 10px;
            margin: 50px;
        }

        .setting__username {
            font-size: 1em;
        }

        .setting__image {
            width: 300px;
            height: 300px;
            overflow: hidden;
            position: relative;
            border-radius: 5px;
            margin-bottom: 20px;
        }

        .setting__image::after {
            content: '';
            position: absolute;
            display: block;
            background: #37a08e;
            opacity: 0.9;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform: scale(2) translateX(-75%) translateY(-75%) rotate(-28deg);
            transition: transform 2s cubic-bezier(0.2, 1, 0.3, 1);
        }

        .setting__image:hover:after {
            transform: scale(2) translateX(0) translateY(0) rotate(-28deg);

            transition: transform 2s cubic-bezier(0.2, 1, 0.3, 1);
        }

        .setting__image .setting__image-text {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            opacity: 0;
            z-index: 1;
            color: #fff;
            transform: translateY(-20%);
            transition: opacity 500ms cubic-bezier(0.2, 1, 0.3, 1), transform 500ms cubic-bezier(0.2, 1, 0.3, 1);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .setting__image:hover .setting__image-text {
            opacity: 1;
            transform: translateY(0);
        }

        .setting__image .setting__image-wrap {
            width: 100%;
            height: 100%;
        }

        .setting__image .setting__image-wrap img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            box-shadow: 0 0 10px rgba(150, 115, 115, 0.5);
            display: block;
        }


        .input-container {
            display: flex;
            font-size: 1.2em;
            flex-direction: column;
            margin-bottom: 20px;
        }

        .input-container>input,
        .settting__update>button {
            width: 300px;
            padding: 5px;
        }

        .input-container>input {
            border: none;
            border: 1px solid #d1d1d1;
            border-radius: 2px;
        }

        .settting__update {
            border-top: 1px solid #b1b1b1;
            padding-top: 20px;
            margin-top: 10px;
        }

        .settting__update>button {
            border: none;
            border-radius: 5px;
            padding: 10px;
            color: white;
            background-color: #37a08e;
        }

        @media(max-width:350px) {

            .input-container>input,
            .settting__update>button {
                width: 250px;
            }

            .setting__image {
                width: 250px;
                height: 250px;
            }
        }
    </style>
</head>

<body>
    <!-- Page 1: This Page will contain sign up form -->
    <%- include('partials/homenav.ejs') %>

    <div class="setting-container">

        <form class="setting-form">
            <div class="setting__username">
                <h5><%= user.username %></h5>
            </div>
            <div class="setting__image">
                <div class="setting__image-wrap">
                    <img src="/images/people/<%= user.image %>" alt="">
                </div>
                <div class="setting__image-text">
                    <label for="photo">Change</label>
                    <input style="display: none;" type="file" accept="image/*" name="photo" id="photo">
                </div>
            </div>
            <div class="setting__fullname input-container">
                <label for="fullname">Fullname</label>
                <input type="text" name="" id="fullname" value="<%= user.fullname %>">
            </div>
            <div class="setting__status input-container">
                <label for="Status">Status</label>
                <input type="text" name="" id="status" value="<%= user.status %>">
            </div>
            <div class="settting__update">
                <button type="submit">Update</button>
            </div>
        </form>
    </div>
    <!-- <div class="page page-1">
        
        <div id="container">
            <div class="form-wrap">
                <h1>Setting</h1>
                <form id="setting-form">
                    <div class="form-group">
                        <label for="fullname">Full Name</label>
                        <input type="text" name="fullname" id="fullname" placeholder="Full Name">
                    </div>
                    <div class="form-group">
                        <label for="status">Status</label>
                        <input type="text" name="status" id="status" placeholder="status">
                    </div>
                    <button type="submit" class="btn">Update</button>
                </form>
            </div>
        </div>
    </div> -->

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="/js/bundle.js"></script>
</body>

</html>