<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title> <%=title%> </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="/css/style.css"> -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/setting.css">
</head>

<body>
    <!-- Page 1: This Page will contain sign up form -->
    <div class="container">
        <%- include('partials/homenav.ejs') %>
    </div>

    <div class="setting-container">

        <form class="setting-form">
            <div class="setting__username">
                <h5><%= user.username %></h5>
            </div>
            <div class="setting__image globalAnimation">
                <div class="setting__image-wrap">
                    <img src="/images/people/<%= user.image %>" alt="">
                </div>
                <div class="setting__image-text globalAnimation__text">
                    <label style="cursor: pointer;" for="photo">Change</label>
                    <input style="display: none;" type="file" accept="image/*" name="photo" id="photo">
                </div>
            </div>
            <div class="setting__fullname input-container">
                <label for="fullname">Fullname</label>
                <input type="text" name="" id="fullname" value="<%= user.fullname %>">
            </div>
            <div class="setting__status input-container">
                <label for="Status">Status</label>
                <input type="text" name="" id="status" value="<%= user.status %>">
            </div>
            <div class="setting__update">
                <button type="submit">Update</button>
            </div>
        </form>
    </div>


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="/js/bundle.js"></script>
</body>

</html>